.logo
{
    height: 100px;
    width: 115px;
}
#menu ul
{
    list-style: none;
}
.navstyle
{
	background-color: #ffe8f4;
}
.img
{
	height: 250px;
	width: 250px;
}
p
{
 border: 2px solid #a88df9;
 padding: 2px;
}
i
{
border: 2px solid blue;
padding: 1px;
}
.rev
{
background-color:#ffe8f4;
}
.about
{
background-color:#ffffff;
}
.calc
{
background-color:#ffe8f4;
}
.contacts
{
background-color:#ffffff;
}
.headerstyle
{
background-color:#ffe8f4;
}
.mainstyle
{
background-color: #ffe8f4;
}